.main-container {
    color: #2c2b2bd8;
    position: relative;
    width: 100%;
    height: 100%;
    .main-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .intro-box {
            position: relative;
            background-color: #ffffff;
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            display: flex;
        }

        .bio-box {
            width: 100%;
            height: 50%;
        }
    }
}