.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    .main-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}