body {
    width: 100%;
    height: 100vh;
    color: #2c2b2bd8;

    .main-container {
        position: relative;
        width: 100%;
        height: 100%;
        .main-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .intro-box {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                margin: 3rem 0;
            }
        }
    }
}