.intro-container {
    width: 100%;
    height: 100%;

    .intro {
        position: absolute;
        top: 20%;
        left: 20%;
        display: flex;
        flex-direction: column;
        span {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 7rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
            text-shadow: -0.07rem 0 #684793, 0 0.2rem #684793, 0.07rem 0 #684793, 0 -0.07rem #684793;
            color: #ffffff;
            cursor: pointer;
    
            &:hover {
                text-shadow: none;
                color:#684793;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .intro-container {
        width: 100%;
        height: 100%;
        .intro {
            top: 0;
            left: 1.5rem;
            span {
                font-size: 4rem;
            }
        }
    }
}