.portfolio-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #ffffff;
    border-top: 1px solid #85858585;
    z-index:1;
    a:link {
        color: #2e2e2e;
        cursor: pointer;
    }
}