.main-layout-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .main-contents-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    color :#2e2e2e;
  }
}
